<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Mock Interview</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <nav class="navbar">

        <div class="logo">
            AI Mock Interview
        </div>

        <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>

    </nav>

    <section class="hero">

        <div class="hero-content">

            <h1>Crack Your Dream Job With AI</h1>

            <p>
                Practice unlimited AI-powered mock interviews, improve your communication skills, and receive instant feedback.
            </p>

<a href="/interview">
    <button class="btn">
        Start Interview
    </button>
</a>
        </div>

    </section>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>